.content
  .row
    .span4
      this is a test
    .span10
      %table.zebra-striped.bordered-table
        %thead
          %tr
            %th
              \#
            %th
              Name
            %th
              Completed
        %tbody
          %tr
            %td
              1
            %td
              Chicken
            %td
              No
          %tr
            %td
              1
            %td
              Chicken
            %td
              No
          %tr
            %td
              1
            %td
              Chicken
            %td
              No
