.content
  .hero-unit
    %h1
      welcome to potluck
      %small
        lists made easy
    %p
      potluck is the easiest way to collaborate with other generous people, whether it's helping someone in need, or just organizing a community potluck.
    %p
      %a{href: '#'}
        %button.btn.primary
          Learn More...
  .row
    .span4
      .well.login
        %h2 sign up
        %form.form-stacked
          %label(for='user')
            user name
          %input.span3(type='text' name='user' id='user' value='')/
          %label(for='password')
            password
          %input.span3(type='text' name='password' id='password' value='')/
          %button.btn.primary(type='submit')
            register
    .span5
      %h2
        about us
      %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      %p
        %button.btn
          learn more
    .span5
      %h2
        how you can help
      %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      %p
        %button.btn
          join us
