.container
  // this makes the total width 14 cols
  width: 820px

body
  padding-top: 60px

.well.login form
  padding-left: 0

.well.login button
  margin-top: 10px

.footer
  padding-top: 10px
  border-top: 1px solid whiteSmoke

// dashboard actions

.dashboard_actions
  text-align: right

th.checkbox
  width: 10px

.task_actions
  text-align: right
  padding-bottom: 10px

// login

fieldset
  h1
    text-align: left
    text-indent: 150px
