.content
  .row
    .span12.hero-unit
      %h1
        welcome
        %small
          please to be logging in...
  .row
    .span6
      this is a sentence describing the login process
    .span8.login
      %form
        %fieldset
          %h1
            log in
          .clearfix
            %label{for: "email"}
              e-mail
            .input
              %input(name="email" id="username")
          .clearfix
            %label{for: "password"}
              password
            .input
              %input(name="password" id="password")
          .actions
            %button.btn
              submit
