<!DOCTYPE html>
%html
  %head
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    %title
      Potluck
  %body
    .topbar
      .fill
        .container
          %a.brand{href: '/'}
            potluck
          %ul.nav
            %li
              %a{href: '/'}
                home
            %li
              %a{href: '#'}
                about
            %li
              %a{href: '#'}
                contact us
          %form.pull-right{method: 'post', action: '/'}
            %input.input-small(type='text' name='user' id='user' value='username')/
            %input.input-small(type='password' name='password' id='password' value='Password')/
            %button.btn(type='submit')
              sign in
    .container
      = yield
      .footer
        &copy; potluck 2012
