<!DOCTYPE html>
%html
  %head
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title
      Potluck
  %body
    .container
      .row
        .header
          %h1
            potluck
            %small
              stuff you need, when you need it
        .content
          = yield
        .row
          .sidebar
            %dl
              %dd
                =link_to 'home', '#', {class: 'active'}
              %dd
                =link_to 'about us', '#'
              %dd
                =link_to 'contact us', '#'
      .row
        .footer
          &copy; potluck 2012
